*{
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    border:0
}
header{
    background-color: #44065d;
}
#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-size: 25px;
    color: rgb(230, 230, 237);
}
#btnOne{
    background-color:#1cc8fc;
    color:rgb(204, 238, 14);
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}

#tableHead{
    background-color:#44065d;
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 4px solid #edf0f2;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}